body {
    font-family:arial;
    font-size: 1.5em;
    width: 1100px;
}
p {
    font-size:.1em;
}
/*****************************************/
/** widths have to add up to body width **/


#middlePanel {
    border: black solid 3px;
    border-radius: 2px;
    padding: 5px;
    width: 300px;
    height: 700px;
    float: left;
    text-align: center;
    
}
#rightPanel {
    border: black solid 3px;
    border-radius: 2px;
    padding: 5px;
    width: 300px;
    height: 700px;
    float: left;
    text-align: center;
}

/*************************************/
/*** Sub  containers ***/
#stateAtt {
    margin: auto;
    width: 100%;
    text-align: center;
}
#patCounterAtt {
    margin: auto;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}
#locationAtt {
    margin: auto;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}
#interruptAtt {
    margin: auto;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}
#notesAtt {
    margin: auto;
    margin-top: 15px;
    width: 100%;
    text-align: center;
}
#list {
    border: black solid 3px;
    border-radius: 2px;
    margin: auto;
    width: 275px;
    height: 300px;
    text-align: center;
    overflow-y: scroll;
}
#log {
    overflow-y: scroll;
    height: 150px;
    font-size: .5em;
}

/*************************************/


#stateAtt div {
    height: 40px;
    width: 200px;
    background-color: #808080;
    font-family: arial;
    color: white;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    margin-top: 2px;
    border: 2px black solid;
    display: inline-block;
}
#locationAtt div {
    height: 40px;
    width: 100px;
    background-color: #808080;
    font-family: arial;
    font-weight: normal;
    font-size: .5em;
    color: white;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border: 2px black solid;
    display: inline-block;
}
#interruptAtt div {
    height: 40px;
    width: 200px;
    background-color: #808080;
    font-family: arial;
    color: white;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    margin-top: 2px;
    border: 2px black solid;
    display: inline-block;
}

#notesAtt div {
    height: 40px;
    width: 200px;
    background-color: #808080;
    font-family: arial;
    color: white;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    margin-top: 2px;
    border: 2px black solid;
    display: inline-block;
}



#end {
    height: 40px;
    width: 200px;
    background-color: #808080;
    font-family: arial;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    margin-top: 2px;
    border: 2px black solid;
    display: inline-block;
}


/*************************************/
.item {
    height: 60px;
    width: 200px;
    background-color: blue;
    color: white;
    font-size: 15px;
    border-radius: 5px; 
    text-align: center;
    line-height: 60px;
    margin: auto;
    margin-top: 2px;
    border-right: solid 15px gray;
}

.note {
    background-color: green;
    height: 20px;
    width: 100px;
    position: relative;
    z-index: 1;
    font-size: 10px;
    display: inline-block;
}
/*************************************/


h2 {
    font-family:arial;
}

form {
    /* display: inline-block; */
    border-color: black;
    border-style: solid;
    border-width: 3px;
    border-radius: 2px;
    float: right;
    width: 650px;
    padding: 10px;
}

#nameForm {
    height: 35px;
    width: 250px;
    font-size: 30px;
}

#locationForm {
    height: 35px;
    width: 300px;
    font-size: 30px;
}

#description {
    height: 70px;
    width: 250px;
    font-size: 30px;

}

#formDiv {
    margin: 4px;
}



#formDiv label {
    float: left;
    width:190px;
    /*height: 100px; */
    margin:4px;
    background-color:#EFEFEF;
    border-radius:5px;
    border:1px solid #2e2e2e;
    overflow:auto;
       
}

#formDiv label span {
    text-align:center;
    font-size: 25px;
    padding: 13px 20px;
    display: block;
}

#formDiv label input {
    position:absolute;
    top:-20px;
}

#formDiv input:checked + span{
    background-color:#ff7e40;
    color:#000000;
}


#formDiv .radioButton {
  background-color: #808080;
  color: #ffffff;
}







#exportButton {
    height: 40px;
    /*width: 200px;*/
	width: 150px;
    background-color: #808080;
    font-family: arial;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    /*margin-top: 2px;*/
	
	margin-top: 75px;
	margin-left: 20px;
 
	float: left;
 
	border: 2px black solid;
	cursor: pointer;
}

#updateButton {
    display: inline-block;
    height: 60px;
    width: 250px;
    background-color: #000099;
    font-family: arial;
    font-size: 1.2em;
    color: white;
    text-align: center;
    margin-top: 2px;
}

#saved {
    display: inline-block;
    color: green;
    margin-left: 30px;
}


#startButton {
    display: inline-block;
/*    height: 40px;
    width: 210px;*/
    background-color: #008800;
    font-family: arial;
    font-size: 1.2em;
    color: white;
    text-align: center;
    margin-top: 2px;
}
#stopButton {
    display: inline-block;
    /*height: 40px;
    width: 210px;*/
    background-color: #990000;
    font-family: arial;
    font-size: 1.2em;

    color: white;
    text-align: center;
    margin-top: 2px;
}
#compButton {
    display: inline-block;
    height: 40px;
    width: 210px;
    background-color: #000000;
    font-family: arial;
    font-size: 1.2em;
    color: white;
    text-align: center;
    margin-top: 2px;
}



#created {
    font-size: 10px;
    text-decoration: none;
}


#leftPanel {
    border-color: black;
    border-style: solid;
    border-width: 3px;
    border-radius: 2px;
    padding: 5px;
    width: 350px;
    /*height: 725px;*/
	height: 875px;
    float: left;
    text-align: center;    
}

/*#add_01, #add_02, #add_03, #add_04, #add_05, #add_06, #add_07, #add_08, #add_09, #add_10{*/
.task {
    height: 50px;
    width: 275px;
    text-align: center;
    line-height: 50px;
    background-color: #cef0ff;
    font-family: arial;
    font-size: .75em;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    border: 1px black solid;
    border-radius: 5px;
	cursor: pointer;
    /* 
    font-weight: bold;
    */
}

/*#add_s01, #add_s02, #add_s03, #add_s04, #add_s05, #add_s06, #add_s07, #add_s08, #add_s09, #add_s10 {*/
.subtask {
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    color: #ffdab3;
    background-color: #ffdab3;
    font-family: arial;
    font-size: .75em;

    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    border: 1px black solid;
    border-radius: 5px;
	
	cursor: pointer;
}

#newTask {
	height: 100px;
	width: 250px;
	background-color: red;
	float: left;
}

/*#task01, #task02, #task03, #task04 {
	height: 100px;
	width: 250px;
	background-color: red;
	float: left;
	border: 1px black solid;
}*/
.taskContainer {
	width: 300px;
	height: 110px;
	border: 2px solid black;
	margin: 2px;
}
div[name="c_taskName"] {
	background-color: #fcf45f;
	font-size: 20px;
	height: 25px;
}
div[name="c_ro"] {
	background-color: #f4f2c1;
	font-size: 20px;
	height: 25px;
}

div[name="c_st"] {
	font-size: 20px;
	float: left;
	width: 90px;
	width: 90px;
	height: 25px;
}
div[name="c_rt"] {
	font-size: 20px;
	float: left;
	color: grey;
	width: 90px;
	height: 25px;
}
div[name="c_et"] {
	font-size: 20px;
	height: 25px;
}
div[name="c_et"] {
	font-size: 20px;
	height: 25px;
}

#c_delete0 {
	float: left;
	background-color: darkblue;
	color: white;
	margin-right: 5px;
	margin-left: 5px;
	font-size: 17px;
	height: 20px;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;

}
#c_ch0, #c_ch1, #c_ch2, #c_ch3, #c_note0, #c_note1, #c_note2, #c_note3, #c_stop0, #c_stop1, #c_stop2, #c_stop3, #c_ro0, #c_ro1, #c_ro2, #c_ro3 {
	float: right;
	background-color: blue;
	color: white;
	margin-right: 5px;
	margin-left: 5px;
	font-size: 17px;
	height: 20px;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;

}
/*#rightPanel, #notePanel, #middlePanel {*/

#middlePanel {
    border: black solid 3px;
    border-radius: 2px;
    padding: 5px;
    width: 300px;
    /*height: 725px;*/
	height: 875px;
    float: left;
    text-align: center;
	
}

#rightPanel, #notePanel {
	
    border: black solid 3px;
    border-radius: 2px;
    padding: 5px;
    width: 300px;
    /*height: 725px;*/
	height: 875px;
    float: left;
    text-align: center;
	/*visibility: hidden;*/
	display: none;
	
	
	
}

#saveNote, #cancelNote {
	border: 2px solid green;
	width: 200px;
	margin: auto;
	margin-top: 5px;
	background-color: #00ff55;
	cursor: pointer;
	
}

/*#changeTo01, #changeTo02, #changeTo03, #changeTo04, #changeTo05, #changeTo06, #changeTo07, #changeTo08, #changeTo09, #changeTo10, #changeTo11 {*/
.taskChange {
	
	border: 1px solid black;
	margin: 10px;
	padding: 5px;
	background-color: #cef0ff;
	cursor: pointer;
	
}


.location {
	
	
	border: 1px solid black;
	background-color: #cef0ff;
	margin: 1px;
	padding: 3px;
    font-size: .6em;
	border-radius: 2px;
	width: 90px;
	height: 20px;
	display: inline-block;
	float: left;
	cursor: pointer;

}

/*#roleContainer {*/
#divLocation {
    border: black solid 3px;
    border-radius: 2px;
    /*width: 200px;
	height: 150px;*/
	
	width: 302px;
    /*height: 60px;*/
	
	height: 120px;
    text-align: center;
    float: left;
    margin-top: 5px;
}


#heartBeat {
	
	width: 	75px; 
	height:	75px;
	
	cursor: pointer;
	
	margin-top: 35px;
	/*
	margin-left: 10px;*/
	
}


/*
#bitalinoCalibration {

	



}*/

#divHeartBeat {

	/*border: black solid;*/
	float: left;
	width: 	90px; 
	height:	90px;
	margin-top: 25px;
	
}

.bitalinoButtons {

	float: left;
	width: 	100px; 
	height:	50px;
	margin-left: 25px;
	cursor: pointer;

}


#title {

	float: left;


}

#checklist {

	width: 	75px; 
	height:	75px;

	margin-left: 30px;
	
	cursor: pointer;
	
}

#serverResponse {
	
	float: left;

/*
	width: 	400px; 
	height:	250px;
	border: black solid;
	*/
	
	font-size: 40px;

	margin-left: 50px;
	margin-top: 5px;

}



/*
#setToLocation1, #setToLocation2, #setToLocation3, #setToLocation4, #setToLocation5, #setToLocation6, #setToLocation7, #setToLocation8, #setToLocationHallway {

	border: 1px solid black;
	background-color: #cef0ff;
	margin: 1px;
	padding: 3px;
    font-size: .6em;
	border-radius: 2px;
	width: 90px;
	height: 20px;
	display: inline-block;
	float: left;
}*/


/*
#divAffect {
	
	float: left;
	width: 300px;
	
	
}
.emotions {
	
	float: left;
	cursor: pointer;
	
}

#happyFace {
	
	width: 	100px; 
	height:	100px;
	margin-top: 10px;
	
}
	
#angryFace {
	
	width: 	90px; 
	height:	90px;
	margin-top: 20px;
	
}

#sadFace {
	
	width: 	80px; 
	height:	80px;
	margin-top: 25px;
	margin-left: 10px;
	
}
*/

